<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>计算属性 vs. $watch</title>
    <script src="../js/vue.js"></script>

</head>
<body>
<div id="app">
    firstName :<input type="text" v-model="firstName"/><br/><br/>
    secondName:<input type="text" v-model="secondName"/><br/><br/>
    fullName:<input type="text" v-model="fullName">
    <p>你输入的firstName是：{{firstName}}</p>
    <p>你输入的secondName是：{{secondName}}</p>

</div>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            firstName:"xu",
            secondName:"baoling",
            fullName:'xu baoling'
        }
    })
    vm.$watch('firstName', function (val) {
//       return
        this.fullName = val + ' ' + this.lastName
        console.log(val);
    })
    vm.$watch('secondName', function (val) {
//        return
        this.fullName = this.firstName+ ' ' +val
        console.log(val);
    })
</script>
</body>
</html>